/*
Variables a utilizar
*/
:root{
    --primari: #0c0c0c;
    --secondary: #171717;
    --tertiary: #2e2e2e;
    --white: #a0a0a0;
}
body{
    background-color: #1e1e1e;
    display: block;
}
/*
estilos para el contenido general de textos
*/
.contenido{
    width: 70%;
    margin: 10px auto;
    border-radius: 10px;
    border:solid 2px var(--white);
    padding: 10px;
    color: aliceblue;

}
.parrafos{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

/*
estilos para el menu
*/
